.main {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0px;
    padding: 10px;

}

.main .title {

    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;

}

.stats {

    display: flex;
    flex-direction: column;
    text-align: center;

}

img {

    width: 100px;
    margin: 0px;
    padding: 0px;

}