.home {

    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;

}

.home h4, .home p {

    height: fit-content;
    width: fit-content;

}

.home p {

    max-width: 95vw;

}

@media screen and (min-width: 768px) {
    .home{

        align-content: stretch;

    }
}
