.home {

    display: flex;
    width: 100%;
    height: 90vh;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;

}

.home a {

    color: black;

}